<div layout="row" layout-fill layout-xs="column" ng-cloak>
  <div flex="75" layout-no-padding>
      <form name="todoForm" ng-submit="submit(newTodo)"
        style="padding: 8px; margin: 8px 0 8px 8px; height: 55px;">
        <div layout="row">
          <md-input-container class="md-block" style="margin-top: 15px; height: 30px; width:100%">
            <label style="font-size: 20px;">What needs to be done?</label>
            <input required name="body" ng-model="newTodo.body" aria-label="new-todo">
            <div ng-messages="todoForm.body.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div flex></div>
          <md-select ng-if="spheres.length" ng-model="newTodo.sphere" placeholder=" - " class="md-no-underline sphere-select"
            md-no-asterisk="false">
            <md-option selected ng-value="null"> - </md-option>
            <md-option ng-repeat="sphere in spheres" ng-value="sphere" ng-bind="sphere.name"></md-option>
          </md-select>
        </div>
      </form>
    <div nano-container class="nano">
      <md-content class="nano-content" flex layout-padding style="padding-top:0;">
        <div ng-show="!filtred.length" style="display:inline-flex; width:100%;">
          <md-icon class="icon fullscreen">done_all</md-icon>
        </div>
        <md-list style="padding:0;">
          <md-list-item class="md-line" ng-mouseenter="secondary=true" ng-mouseleave="secondary=false"
              ng-repeat="todo in todos | todoSearch:sQuery as filtred track by $index"
              ng-click="null">
              <p class="todo" ng-show="editable != todo.id"
                data-ng-class="{'done' : todo.done}"
                style="font-style:italic">
                <span ng-if="todo.sphere" class="sphere" style="color:#089fcc">[{{ todo.sphere.name }}]</span>
                  {{ todo.body }}
              </p>
              <md-select ng-show="editable == todo.id && spheres.length" ng-model="todo.sphere" placeholder=" - "
                style="z-index: 1;margin: 0px 10px 0px 0px;padding: 0 10px;"
                class="md-no-underline sphere-select"
                md-no-asterisk="false">
                <md-option ng-repeat="sphere in spheres" ng-value="sphere" ng-bind="sphere.name"></md-option>
              </md-select>
              <md-input-container ng-show="editable == todo.id"
                style="width: 100%; margin: 0; height: 33px;">
              <input required focus="editable == todo.id"
                ng-model="todo.body" aria-label="update-todo">
              </md-input-container>
              <md-icon class="md-secondary icon"
                ng-show="secondary && $parent.editable != todo.id"
                ng-click="$parent.editable = todo.id"
              aria-label="Edit">edit</md-icon>
              <md-icon class="md-secondary icon"
                ng-show="$parent.editable == todo.id"
                ng-click="update(todo)"
              aria-label="Done">done</md-icon>
              <md-icon class="md-secondary icon"
                ng-show="secondary || $parent.editable == todo.id"
                ng-click="remove(todo)"
              aria-label="Remove">delete</md-icon>
              <md-checkbox class="md-secondary" ng-model="todo.done" ng-change="update(todo)" style="margin: 0 0 0 20px;"></md-checkbox>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
  <div flex="25">
    <div nano-container class="nano nano-pane">
      <md-content class="nano-content" layout-no-padding
        style="background: #fafafa; padding: 20px; box-shadow: inset 0 0 12px -6px #a7a7a7;">
        <section layout="row" layout-sm="column" layout-align="center center" style="padding: 10px;margin-bottom: 15px;">
          <md-button class="groupX middle"
            data-ng-class="{'active' : sQuery.status == 'todo'}"
            ng-click="setSQueryStatus('todo')"
            ng-dblclick="makeAllDone()">Todo
          </md-button>
          <md-button class="groupX middle"
            data-ng-class="{'active' : sQuery.status == 'done'}"
            ng-click="setSQueryStatus('done')"
            ng-dblclick="makeAllUnDone()">Done
          </md-button>
          <md-button class="groupX middle"
            data-ng-class="{'active' : sQuery.status == 'all'}"
            ng-click="setSQueryStatus('all')"
            ng-dblclick="removeComplited()">All
          </md-button>
        </section>
        <md-divider></md-divider>
        <div layout="row" style="margin-top: 5px;">
          <h4 style="color:#757474;">Spheres of life</h4>
          <div flex></div>
          <md-button ng-if="!sphereEditMode" ng-click="toggleEditMode()" class="md-icon-button" style="margin-top:10px;">
            <md-tooltip md-direction="bottom">Edit spheres</md-tooltip>
            <md-icon class="icon">edit</md-icon>
          </md-button>
          <md-button ng-if="sphereEditMode" ng-click="toggleEditMode()" class="md-icon-button" style="margin-top:10px;">
            <md-tooltip md-direction="bottom">Save changes</md-tooltip>
            <md-icon class="icon">done</md-icon>
          </md-button>
        </div>
        <md-chips ng-model="spheres"
          readonly="sphereRo"
          md-removable="sphereRemovable"
          placeholder="Enter a name of sphere.."
          secondary-placeholder="Something else?"
          md-transform-chip="sphereToChip($chip)"
          md-require-match="true"
          md-on-remove="removeSphere($chip)">
          <md-chip-template
            chip-parent-bg="['rgb(91,192,222)', 'rgb(224,224,224)', sQuery.spheres.indexOf($chip.name) > -1]"
            ng-click="toggleSphere($event, $chip)"
            style="cursor:pointer">
            {{ $chip.name }}
          </md-chip-template>
        </md-chips>
        <div ng-messages="true" ng-if="sphereNotUniq && sphereEditMode"
          style="font-size: 13px; color: red; padding-top: 5px;">
          <div>Sphere name must be unique!</div>
        </div>
      </md-content>
    </div>
  </div>
</div>
