<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="blog, programming, malltshik">
    <meta name="description" content="Gavrilov Artem personal blog about programming">
    <meta property="og:title" content="malltshik blog">
    <meta property="og:description" content="Gavrilov Artem personal blog about programming">
    <meta property="og:site_name" content="malltshik blog"/>
    <meta property="og:image" content="https://malltshik.ru/static/assets/images/favicon.jpg">
    <meta property="og:url" content="https://malltshik.ru/">
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <link rel="image_src" href="/static/assets/images/favicon.jpg"/>
    <link rel="alternate_EN" hreflang="en" href="https://malltshik.ru" />
    <link rel="alternate_RU" hreflang="ru" href="https://malltshik.ru" />
    <link rel="canonical" href="https://malltshik.ru"/>
    <meta name="fragment" content="!" />
    <base href="/" />

    <!-- LIBS -->
    <link rel="stylesheet" href="/static/libs/angular-loading-bar/build/loading-bar.min.css" media="screen">
    <link rel="stylesheet" href="/static/libs/angular-material/angular-material.min.css" media="screen">
    <link rel="stylesheet" href="/static/libs/material-icons/angular-material-icons.css" media="screen">
    <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="/static/libs/highlightjs/styles/atom-one-light.css" media="screen">

    <!-- APP -->
    <link rel="stylesheet" href="/static/css/application.css" media="screen">
    <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico">
    <title ng-bind="$title"></title>
    <!-- <title>Gavrilov Artem Personal Blog! / malltshik</title> -->

  </head>
  <body ng-clock>
    <ui-view></ui-view>
  </body>

  <!-- SERVER FLASH -->
  <script type="text/javascript">
    var $flashies = []
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          $flashies.push({{ message | tojson | safe  }})
        {% endfor %}
      {% endif %}
    {% endwith %}
  </script>

  <!-- LIBS -->
  <script src="/static/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/static/libs/nano-scroller/jquery.nanoscroller.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular/angular.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-animate/angular-animate.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-aria/angular-aria.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-breadcrumb/dist/angular-breadcrumb.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-cookies/angular-cookies.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-gravatar/build/angular-gravatar.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-loading-bar/build/loading-bar.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-messages/angular-messages.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-sanitize/angular-sanitize.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-material/angular-material.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-resource/angular-resource.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-local-storage/dist/angular-local-storage.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-clipboard/angular-clipboard.js" charset="utf-8"></script>
  <script src="/static/libs/highlightjs/highlight.pack.min.js" charset="utf-8"></script>
  <script src="/static/libs/marked/marked.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-marked/dist/angular-marked.min.js" charset="utf-8"></script>
  <script src="/static/libs/angular-truncate-2/dist/angular-truncate-2.min.js" charset="utf-8"></script>



  <!-- APP -->
  <script src="/static/js/application.js" charset="utf-8"></script>
  <script src="/static/js/configuration.js" charset="utf-8"></script>
  <script src="/static/js/controllers/index-controller.js" charset="utf-8"></script>
  <script src="/static/js/controllers/home-controller.js" charset="utf-8"></script>
  <script src="/static/js/controllers/todo-controller.js" charset="utf-8"></script>
  <script src="/static/js/controllers/post-controller.js" charset="utf-8"></script>
  <script src="/static/js/controllers/settings-controller.js" charset="utf-8"></script>
  <script src="/static/js/routes.js" charset="utf-8"></script>
  <script src="/static/js/directives.js" charset="utf-8"></script>
  <script src="/static/js/factorys.js" charset="utf-8"></script>
  <script src="/static/js/filters.js" charset="utf-8"></script>
  <script src="/static/js/services.js" charset="utf-8"></script>

  <!-- SEO -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    }) (window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-17435587-1', 'auto');
    ga('send', 'pageview');
  </script>

</html>
