{% extends "templates/mail/base.html" %}
{% block description %}
  <p>Follow the <a href="{{link}}" target="_blank">link</a> to open post page with new comment!</p>
{% endblock %}
{% block body %}
  <p><strong>Comment details:</strong></p>
  <p><strong>E-mail: </strong>{{comment.email}}</p>
  <p><strong>Author: </strong> {{comment.author}}</p>
  <p><strong>Body: </strong>{{comment.body}}</p>
{% endblock %}
