{% extends "templates/mail/base.html" %}
{% block description %}
  <p>To confirm the e-mail address, follow this <a href="{{link}}" target="_blank">link</a></p>
  <p>If you did not write this comment, do not pay attention to this email.</p>
  <p>Just delete it.</p>
{% endblock %}
{% block body %}
  <p><strong>Comment details:</strong></p>
  <p><strong>E-mail: </strong>{{comment.email}}</p>
  <p><strong>Author: </strong> {{comment.author}}</p>
  <p><strong>Body: </strong>{{comment.body}}</p>
{% endblock %}
