<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Forget">
      <md-icon class="icon-img">
        <img src="/static/assets/images/favicon.ico" alt="Icon" style="width:100%"/>
      </md-icon>
    </md-button>
    <h2 style="color: #4e4e4e;">
      <span><div flex>Sign In</div></span>
    </h2>
    <span flex></span>
    <md-button ng-click="hide()" class="md-icon-button">
      <md-tooltip md-direction="bottom">Close</md-tooltip>
      <md-icon class="icon">close</md-icon>
    </md-button>
  </div>
</md-toolbar>
<alert ng-show="error" class="error" ng-bind="error"></alert>
<md-content layout-gt-sm="row" layout-padding ng-cloak style="display: block;">
  <form name="loginForm" ng-submit="submit(creditional)" style="padding=0;">
    <md-input-container style="height: 33px; margin-top: 10px; margin-bottom:10px">
      <label>Username</label>
      <input md-autofocus required name="username" ng-model="creditional.username"
        aria-label="Username">
      <div ng-messages="loginForm.username.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container style="height: 33px; margin-top: 10px; margin-bottom:10px">
      <label>Password</label>
      <input required type="password" name="password" ng-model="creditional.password"
        aria-label="Password">
      <div ng-messages="loginForm.password.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="error" ng-bind="error.password"></div>
      </div>
    </md-input-container>
    <input type="submit" hidden name="name" value="">
  </form>
  <md-card-actions layout="row" layout-align="end center">
    <!-- <md-button ng-clock="forget()" class="md-icon-button" aria-label="Forget">
      <md-tooltip md-direction="bottom">Forgot password?</md-tooltip>
      <md-icon class="icon">help_outline</md-icon>
    </md-button> -->
    <md-button ng-disable="!loginForm.$valid" ng-click="submit(creditional)" class="md-icon-button" aria-label="Submit">
      <md-tooltip md-direction="bottom">Sign in</md-tooltip>
      <md-icon class="icon">exit_to_app</md-icon>
    </md-button>
  </md-card-actions>
</md-content>
