@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button, html, input, select, textarea {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
  color: rgba(0,0,0,0.64) !important
}
pre { font-family: "Ubuntu", monospace !important;}
code{padding:2px 4px;font-size:100%;color:#c7254e;background-color:#f9f2f4;border-radius:4px}
pre{display:block;margin:0 0 10px;line-height:1.42857143;word-break:break-all;word-wrap:break-word;color:#333;background-color:#f5f5f5;border-radius:4px}
pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0}
pre {padding: 8px; border: 1px solid #dadada;}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade.ng-enter {
  animation: 0.3s appear;
}

.fade.ng-leave {
  animation: 0.3s disappear;
}
md-list > .active {
  background: whitesmoke !important;
}
md-dialog {
  background: #fafafa;
}
.breadcrumb {
    border-radius: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    list-style: none;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb > .active {
    cursor: default;
    color: rgba(0,0,0,0.54) !important;
}
.breadcrumb > li+li:before {
    padding: 0 5px;
    content: "/";
}
.md-toolbar-tools {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 1px -1px rgba(0,0,0,.12);
}
.md-toolbar-tools a {
  color: rgb(91,192,222) !important;
  text-decoration: none;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: transparent;
    color: rgba(0,0,0,0.54) !important;
}
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0);
  width: 12px;
  right: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.nano > .nano-pane > .nano-slider {
    background: rgba(165, 165, 165, 0.8);
    margin: 0px 8px;
    padding-left: 3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 2px;
}

md-sidenav {
  margin: 0 2px 0 0 !important;
  background: #fafafa !important;
}

md-sidenav md-card md-card-header:last-child md-card-avatar {
    margin-left: 0px;
}

md-sidenav md-list-item {
  box-sizing: border-box;
  margin: 0 8px 8px 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  background: white;
}

.todo.done {
  text-decoration: line-through;
}

.badge {
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  cursor: default;
}
.badge.badge-info {
  background: #70c8e2;
}
.badge.badge-success {
  background: rgb(101, 177, 101);
}
.badge.badge-warning {
  background: #efc035;
}
.badge.badge-error {
  background: rgb(255, 82, 82);
}
.groupX {
  color: rgba(0,0,0,0.54);
  background-color: #e9e9e9;
  text-transform: none;
  border: none;
}
.md-button.left {
    border-radius: 2px 0 0 2px;
}
.md-button.right {
    border-radius: 0 2px 2px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(0,0,0,0.05);
    transition: 0.3s;
}
.md-button.active {
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
  background: #cfcfcf !important;
}

alert {
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  cursor: default;
  color: white;
  font-size: 14px;
}
alert.info {
  background: #70c8e2;
}
alert.success {
  background: rgb(101, 177, 101);
}
alert.warning {
  background: #efc035;
}
alert.error {
  background: rgb(255, 82, 82);
}

.sphere-select {
  border: 1px red;
  background: #f1f1f1;
  margin: 11px 0px 20px 7px;
  padding: 3px 10px;
  border-radius: 3px;
  box-shadow: inset 0 0 8px -3px #cfcfcf;
  color: #757474;
}

.sphere-select:hover {
  box-shadow: inset 0 0 10px -2px #cfcfcf;
}
md-chip < div < md-chip-template.selected  {
  background: rgb(91, 291, 222) !important;
}


md-toast .md-toast-content md-icon {
  color: white !important;
}
md-toast a {
  color: white !important;
}
md-toast[status="1"] > .md-toast-content{
  background: #70c8e2;
}
md-toast[status="2"] > .md-toast-content {
  background: rgb(101, 177, 101);
}
md-toast[status="4"] > .md-toast-content {
  background: #efc035;
}
md-toast[status="5"] > .md-toast-content {
  background: rgb(255, 82, 82);
}

.md-subheader-wrapper:not(.md-sticky-no-effect)[sticky-state=active] {
    margin-top: 0;
    box-shadow: inset 0px 1px 0px 0px #e0e0e0 !important;
}
md-card md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon {
    background: none;
    cursor: default;
}
div.nano {
      margin-top: 0.5px;
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 10px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:14px;
    height:35px;
    line-height:35px;
    color:rgba(69, 69, 69);
}

.fa {
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgba(0,0,0,0.54) !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.count-posts {
  font-size: 15px;
  border: 1px #e0e0e0 solid;
  border-radius: 50px;
  padding: 5px;
  cursor: default;
  background: #f0f0f0;
  color: #5a5a5a;
}

.icon.fullscreen {
    font-size: 20em;
    text-align: center;
    width: 100%;
    color: #e9e9e9 !important;
    position: absolute;
    top: 20%;
}

md-chip.no-underline > md-chips-wrap {
  box-shadow: none !important;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: none;
}

md-card [marked] {
  background: white;
}

[marked]{
  white-space: pre-wrap;
  word-wrap:break-word;
}

[marked] p {
  word-break: break-word;
  line-height: 24px;
}

[marked] p, [marked] ul {
  margin: 0;
}
/*
button[disabled="disabled"] > md-icon {
  color: #dadada !important;
}*/
