<div nano-container class="nano nano-pane">
  <md-content class="nano-content">
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Profile">
        <md-content layout-padding ng-show="!onEditAbout" ng-click="editAbout(author)" style="cursor:pointer">
          <p><strong>Username: </strong>{{author.username}}</p>
          <p><strong>E-mail: </strong>{{author.email}}</p>
          <p><strong>First name: </strong>{{author.first_name}}</p>
          <p><strong>Last name: </strong>{{author.last_name}}</p>
          <p><strong>About:</strong></p>
          <p marked="author.about || '*click to edit*'"></p>
        </md-content>
        <md-content layout-padding ng-show="onEditAbout">
          <form name="profileEditFrom" ng-ctrl-enter="editAbout(author)" ng-esc="cancelEditAbout()">
            <md-input-container style="width: 100%; margin:0;">
              <label>Username</label>
              <input ng-model="author.username">
            </md-input-container>
            <md-input-container style="width: 100%; margin:0;">
              <label>E-mail</label>
              <input ng-model="author.email">
            </md-input-container>
            <md-input-container  style="width: 100%; margin:0;">
              <label>Password</label>
              <input ng-model="author.password" type="password">
            </md-input-container>
            <md-input-container  style="width: 100%; margin:0;">
              <label>First name</label>
              <input ng-model="author.first_name">
            </md-input-container>
            <md-input-container  style="width: 100%; margin:0;">
              <label>Last name</label>
              <input ng-model="author.last_name">
            </md-input-container>
            <md-input-container style="width:100%; padding: 8px 0;">
              <label>About / ctrl + enter to save / esc to cancel </label>
              <textarea rows="5" ng-model="author.about"></textarea>
            </md-input-container>
          </form>

        </md-content>
      </md-tab>

      <md-tab label="Contacts">
        <md-card>
          <form name="newContactForm" ng-submit="createContact(newContact)">
            <div layout="row" style="padding: 10px;">
              <md-input-container  class="md-block" flex="70">
                <label>Contact body</label>
                <input name="body" ng-model="newContact.body" required>
                <div ng-messages="newContactForm.body.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex="30">
                <label>Icon</label>
                <input name="icon" ng-model="newContact.icon">
              </md-input-container>
            </div>
            <input type="submit" hidden>
          </form>
        </md-card>
        <br>
        <md-list>
          <md-list-item ng-repeat="contact in contacts" ng-click="null">
            <md-icon class="icon fa fa-{{contact.icon}}" ng-show="onEditContact != contact.id"></md-icon>
            <p ng-bind="contact.body" ng-show="onEditContact != contact.id"></p>
            <div layout="row" ng-show="onEditContact == contact.id" style="width:100%">
              <md-input-container class="md-block" flex="30" style="margin: 30px 0;">
                <label>Icon</label>
                <input name="icon" ng-model="contact.icon">
              </md-input-container>
              <md-input-container  class="md-block" flex="70" style="margin: 30px 0;">
                <label>Contact body</label>
                <input name="body" ng-model="contact.body" required>
                <div ng-messages="newContactForm.body.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <md-icon aria-label="Edit"
              ng-click="updateContact(contact)"
              class="md-secondary icon"
              ng-show="onEditContact != contact.id">edit</md-icon>
            <md-icon aria-label="Done"
              ng-click="updateContact(contact)"
              class="md-secondary icon"
              ng-show="onEditContact == contact.id">done</md-icon>
            <md-icon aria-label="Delete"
              ng-click="removeContact(contact)"
              class="md-secondary icon">delete</md-icon>
          </md-list-item>
        </md-list>
      </md-tab>

      <md-tab label="Skills">
        <md-content layout-padding>
          <md-card>
            <form name="newSkillForm" ng-submit="createSkill(newSkill)">
              <md-input-container class="md-block">
                <label>What your best skill?</label>
                <input required name="name" ng-model="newSkill.name" aria-label="new-skill">
                <div ng-messages="newSkillForm.name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-slider name="progress" flex class="md-primary"
                ng-model="newSkill.progress" min="0" max="100"
                style="margin:0;" aria-label="rating"></md-slider>
            </form>
          </md-card>
          <br>
          <md-list-item ng-repeat="skill in skills" layout="row">
            <div class="skillbar" ng-show="onEditSkill != skill.id">
                <div animate-skill class="skillbar clearfix"
                  data-percent="{{ skill.progress }}%">
                	<div class="skillbar-title" style="background: rgb(91,192,222);">
                    <span ng-bind="skill.name | uppercase"></span>
                  </div>
                	<div class="skillbar-bar" style="background: rgb(175, 226, 239);"></div>
                	<div class="skill-bar-percent">{{ skill.progress }}%</div>
                </div>
            </div>
            <form name="updateSkillForm" ng-show="onEditSkill == skill.id" style="width:100%">
              <md-input-container class="md-block">
                <label>What your best skill?</label>
                <input required name="name" ng-model="skill.name" aria-label="new-skill">
                <div ng-messages="newSkillForm.name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-slider name="progress" flex class="md-primary"
                ng-model="skill.progress" min="0" max="100"
                style="margin:0;" aria-label="rating"></md-slider>
            </form>
            <md-button ng-click="updateSkill(skill)"
              class="md-icon-button" style="margin-bottom: 15px;">
              <md-icon ng-show="onEditSkill != skill.id" class="icon">edit</md-icon>
              <md-icon ng-show="onEditSkill == skill.id" class="icon">done</md-icon>
            </md-button>
            <md-button ng-click="removeSkill(skill)"class="md-icon-button" style="margin-bottom: 15px;">
              <md-icon class="icon">delete</md-icon>
            </md-button>
          </md-list-item>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>
