<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="New Post" ui-sref="index.posts.post({id: post.id})">
      <md-tooltip direction="bottom">Back to post</md-tooltip>
      <md-icon class="icon">keyboard_backspace</md-icon>
    </md-button>
    <h4 flex md-truncate>Update post</h4>
    <md-button class="md-icon-button" ng-show="post.body && post.title"
      aria-label="Preview" ng-click="previewNewPost($event, post)">
      <md-tooltip direction="bottom">Preview</md-tooltip>
      <md-icon class="icon fa fa-eye"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<div nano-container class="nano nano-pane">
  <md-content class="nano-content">
    <md-content layout-padding>
      <form name="newPostForm" ng-ctrl-enter="previewNewPost($event, post)">
        <md-input-container class="md-block">
          <label>Title</label>
          <input name="title" required ng-model="post.title"></input>
          <div ng-messages="newPostForm.title.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Body</label>
          <textarea rows="5" name="body" required ng-model="post.body"></textarea>
          <div ng-messages="newPostForm.body.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-chips ng-model="post.tags" md-autocomplete-snap
                  md-transform-chip="transformChip($chip)"
                  md-require-match="true">
          <md-autocomplete
              md-selected-item="selectedTag"
              md-search-text="searchText"
              md-items="item in querySearch(searchText)"
              md-item-text="item.name"
              placeholder="Search for tags">
              <span md-highlight-text="searchText">{{item.name}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span ng-bind="$chip.name">
          </md-chip-template>
        </md-chips>
      </form>
    </md-content>
  </md-content>
</div>
