<md-dialog aria-label="{{post.title}}" style="min-width: 80%;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="post.title"></h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content nano-container class="nano nano-pane">
      <md-content class="nano-content">
        <div class="md-dialog-content" marked="post.body">
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="box-shadow: inset 0px 1px 0px 0px #dadada;">
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-tooltip direction=bottom>Back to edit</md-tooltip>
        <md-icon class="icon" aria-label="Back">keyboard_backspace</md-icon>
      </md-button>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="submit(post, true)">
        <md-tooltip direction=bottom>Draft</md-tooltip>
        <md-icon class="icon" aria-label="Save">bookmark</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="submit(post, false)">
        <md-tooltip direction=bottom>Save</md-tooltip>
        <md-icon class="icon" aria-label="Save">save</md-icon>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
