<div ui-view>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Posts" ui-sref="index.posts">
        <md-tooltip direction="bottom">Back to posts</md-tooltip>
        <md-icon class="icon">keyboard_backspace</md-icon>
      </md-button>
      <h4 flex md-truncate ng-bind="post.title"></h4>
      <md-button class="md-icon-button" aria-label="Comments"
        scroll-on-click="#comments">
        <md-tooltip direction="bottom">Comments: {{post.comments.length}}</md-tooltip>
        <md-icon class="icon">comment</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share">
        <md-tooltip direction="bottom">Created at {{post.created * 1000 | date:'dd.MM.yyyy HH.mm':'+0300'}}</md-tooltip>
        <md-icon class="icon">updated</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" clipboard
        text="$state.href('index.posts.post', {id: post.id}, {absolute: true})" on-copied="copyLink()">
        <md-tooltip direction="bottom">Copy link</md-tooltip>
        <md-icon class="icon">content_copy</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" ng-if="$isLogin" ui-sref="index.posts.post.edit({id: post.id})">
        <md-tooltip direction="bottom">Edit</md-tooltip>
        <md-icon class="icon">edit</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" ng-if="$isLogin" ng-click="delete(post)">
        <md-tooltip direction="bottom">Delete</md-tooltip>
        <md-icon class="icon">delete</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div nano-container class="nano nano-pane">
    <md-content class="nano-content">
      <md-card>
        <md-card-content>
          <md-content marked="post.body"></md-content>
        </md-card-content>
      </md-card>
      <md-card ng-if="post.tags.length">
        <md-card-content>
          <md-chips class="no-underline" ng-model="post.tags"
            readonly="true">
            <md-chip-template>
              {{ $chip.name }}
            </md-chip-template>
          </md-chips>
        </md-card-content>
      </md-card>
      <md-subheader id="comments"
        class="md-primary" style="font-size: 15px">COMMENTS</md-subheader>
      <md-card ng-repeat="comment in post.comments" ng-if="comment.id">
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" gravatar-src="comment.email" garavatar-size="100" style="border-radius: 50px;"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title" ng-bind="comment.author"></span>
            <span class="md-subhead" ng-bind="comment.email"></span>
          </md-card-header-text>
          <md-button class="md-icon-button" aria-label="Share">
            <md-tooltip direction="bottom">Created at {{comment.created * 1000 | date:'dd.MM.yyyy HH.mm':'+0300'}}</md-tooltip>
            <md-icon class="icon">updated</md-icon>
          </md-button>
          <md-button ng-if="$isLogin" class="md-icon-button" aria-label="toggle" ng-click="removeComment($event, comment)">
            <md-icon class="icon">delete</md-icon>
          </md-button>
        </md-card-header>
        <md-card-content style="padding-top: 0;">
          <p ng-bind="comment.body" style="word-break: break-word; white-space: pre-wrap;"></p>
        </md-card-content>
      </md-card>
      <form name="commentForm">
        <md-card style="margin-bottom: 25px;">
          <md-card-header>
            <md-card-header-text>
              <p style="margin:8px 0;">
                <md-icon class="icon">comment</md-icon>
                New comment <small ng-if="!$isLogin">(confirm email required)</small>
              </p>
            </md-card-header-text>
            <md-button type="submit" ng-show="commentForm.$valid"
              ng-click="sendComment(newComment)" class="md-icon-button" aria-label="Send">
              <md-tooltip direction="bottom">Send new commnet</md-tooltip>
              <md-icon class="icon">send</md-icon>
            </md-button>
          </md-card-header>
          <md-card-content>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm ng-if="!$isLogin">
                <label>E-mail</label>
                <input name="email" ng-model="newComment.email"
                       required md-minlength="5" md-maxlength="128" ng-pattern="/^.+@.+\..+$/" />
                <div class="hint"></div>
                <div ng-messages="commentForm.email.$error">
                  <div ng-message-exp="['required', 'md-minlength', 'md-maxlength', 'pattern']">
                    Your email must be between 5 and 128 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>
              <div flex="5" hide-xs hide-sm>
              </div>
              <md-input-container class="md-block" flex-gt-sm ng-if="!$isLogin">
                <label>Name</label>
                <input name="author" ng-model="newComment.author"
                       required md-maxlength="30"/>
                <div ng-messages="commentForm.author.$error">
                  <div ng-message="required">Name is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0">
                <label>Comment</label>
                <textarea md-maxlength="500" name="body" required ng-model="newComment.body"/>
                <div ng-messages="commentForm.body.$error"></textarea>
                  <div ng-message="required">Comment body is required.</div>
                  <div ng-message="md-maxlength">Comment body has to be less than 500 characters long.</div>
                </div>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
      </form>
    </md-content>
  </div>
</div>
