<md-content class="nano-content" flex layout-no-padding ui-view>
  <div layout="row" layout-fill layout-xs="column" ng-cloak>
    <div flex="70" layout-no-padding>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Share" ng-click="search(true)">
            <md-tooltip direction="bottom">Search</md-tooltip>
            <md-icon class="icon">search</md-icon>
          </md-button>
          <form name="searchPost" ng-submit="search(true)" flex autocomplete="off">
            <div layout="row">
              <md-input-container class="md-block" style="margin-top: 10px; height: 30px; width:100%">
                <label style="font-size:15px">Enter your search query</label>
                <input name="string" ng-blur="search(false)" ng-model="query.string"
                  aria-label="new-todo" style="border:none;">
              </md-input-container>
            </div>
          </form>
          <div class="secondary-items">
            <md-button class="md-icon-button md-secondary" ng-show="posts.pages && posts.page"
              ng-click="preview()"
              ng-disabled="posts.page == 1"
              aria-label="Share">
              <md-tooltip direction="bottom">Previous page</md-tooltip>
              <md-icon class="icon">navigate_before</md-icon>
            </md-button>
            <span class="count-posts" ng-show="posts.pages && posts.page"
              ng-bind="posts.page + ' page of ' + posts.pages"
              style="text-align: center;"></span>
            <md-button class="md-icon-button" ng-show="posts.pages && posts.page"
              ng-click="next()"
              ng-disabled="posts.page == posts.pages"
              aria-label="Share">
              <md-tooltip direction="bottom">Next page</md-tooltip>
              <md-icon class="icon">navigate_next</md-icon>
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <div nano-container class="nano">
        <md-content class="nano-content" flex style="padding-top:0;">
          <md-icon ng-if="!posts._items" class="icon fullscreen">search</md-icon>
          <md-icon ng-if="posts._items.length == 0" class="icon fullscreen">sentiment_dissatisfied</md-icon>
          <md-card ng-repeat="post in posts._items">
            <md-card-header style="box-shadow: 0 0 1px 0px #dadada;">
              <md-card-avatar>
                  <md-icon ng-if="!post.isDraft" class="icon">message</md-icon>
                  <md-icon ng-if="post.isDraft" class="icon">bookmark</md-icon>
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title" style="font-size: 16px;" ng-bind="post.title"></span>
                <span class="md-subhead" ng-if="post.tags.length"><span ng-repeat="tag in post.tags" ng-bind="tag.name + ' '"></span></span>
                <span class="md-subhead" ng-if="!post.tags.length">no tags</span>
              </md-card-header-text>
              <md-button class="md-icon-button" aria-label="Share">
                <md-tooltip direction="bottom">Comments: {{post.comments.length}}</md-tooltip>
                <md-icon class="icon">comment</md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <md-tooltip direction="bottom">Created at {{post.created * 1000 | date:'dd.MM.yyyy HH.mm':'+0300'}}</md-tooltip>
                <md-icon class="icon">updated</md-icon>
              </md-button>
              <md-button class="md-icon-button" style="margin:0;"
                aria-label="toggle" ui-sref="index.posts.post({id:post.id})">
                <md-tooltip derection="bottom">Read more</md-tooltip>
                <md-icon class="icon">open_in_new</md-icon>
              </md-button>
            </md-card-header>
          </md-card>
        </md-content>
      </div>
    </div>
    <div flex="30">
      <div nano-container class="nano nano-pane">
        <md-content class="nano-content" layout-padding
          style="background: #fafafa; box-shadow: inset 0 0 12px -6px #a7a7a7; border-left: 1px #dadada solid;">
          <div layout="row">
            <h4 style="color:#757474; margin:0;">Tags</h4>
            <div flex></div>
            <md-button ng-if="!tagEditMode && $isLogin" ng-click="toggleEditMode()" class="md-icon-button" style="margin-top:-10px;">
              <md-tooltip md-direction="bottom">Edit tags</md-tooltip>
              <md-icon class="icon">edit</md-icon>
            </md-button>
            <md-button ng-if="tagEditMode && $isLogin" ng-click="toggleEditMode()" class="md-icon-button" style="margin-top:-10px;">
              <md-tooltip md-direction="bottom">Save changes</md-tooltip>
              <md-icon class="icon">done</md-icon>
            </md-button>
          </div>
          <md-chips ng-model="tags"
            readonly="tagRo"
            md-removable="tagRemovable"
            placeholder="Enter a name of tag.."
            secondary-placeholder="Something else?"
            md-transform-chip="tagToChip($chip)"
            md-require-match="true"
            md-on-remove="removeTag($chip)">
            <md-chip-template
              chip-parent-bg="['rgb(91,192,222)', 'rgb(224,224,224)', $stateParams.tags.contains($chip.name)]"
              ng-click="toggleTag($event, $chip)"
              style="cursor:pointer">
              {{ $chip.name }} ({{$chip.posts}})
            </md-chip-template>
          </md-chips>
          <div ng-messages="true" ng-if="tagNotUniq && tagEditMode"
            style="font-size: 13px; color: red; padding-top: 5px;">
            <div>Tag name must be unique!</div>
          </div>
        </md-content>
      </div>
    </div>
  </div>
</md-content>
