<md-sidenav md-is-locked-open="$mdMedia('gt-md')"
  md-component-id="left"
  md-disable-backdrop md-whiteframe="1">
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <img gravatar-src="'malltshik@gmail.com'" garavatar-size="100" style="border-radius: 50px;"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">Gavrilov Artem</span>
        <span class="md-subhead">malltshik</span>
      </md-card-header-text>
      <button class="md-icon-button md-button" type="button" hide-gt-md ng-click="toggleSideBar()">
        <md-tooltip md-direction="right">Close</md-tooltip>
        <md-icon class="icon">close</md-icon>
      </button>
    </md-card-header>
  </md-card>
  <div nano-container class="nano nano-pane">
    <div class="nano-content">
      <md-list style="padding:0;">
        <md-list-item
          data-ng-class="{'active' : $state.$current.name == 'index'}"
          ui-sref="index" aria-label="index">
          <md-icon class="icon">home</md-icon>
          <p>Home</p>
        </md-list-item>
        <md-list-item
          data-ng-class="{'active' : $state.$current.name == 'index.posts'}"
          ui-sref="index.posts" aria-label="posts">
          <md-icon class="icon">book</md-icon>
          <p>Posts</p>
          <md-icon ng-show='$isLogin'
            aria-label="Secondary action"
            class="icon fa fa-plus-square-o md-secondary"
            ng-click="$state.go('index.posts.new')"></md-icon>
        </md-list-item>
        <md-list-item ng-show="$isLogin"
          data-ng-class="{'active' : $state.$current.name == 'index.todos'}"
          ui-sref="index.todos" aria-label="todos">
          <md-icon class="icon">done_all</md-icon>
          <p>Todo's</p>
        </md-list-item>
        <md-list-item ng-show="$isLogin"
          data-ng-class="{'active' : $state.$current.name == 'index.settings'}"
          ui-sref="index.settings" aria-label="settings">
          <md-icon class="icon">settings</md-icon>
          <p>Settings</p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</md-sidenav>
