<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button hide-gt-md ng-click="toggleSideBar()"
      class="md-icon-button">
      <md-icon class="icon">menu</md-icon>
    </md-button>
    <h2>
      <span><div ncy-breadcrumb flex></div></span>
    </h2>
    <span flex></span>
    <md-button href="/feed" target="_blank" class="md-icon-button">
      <md-tooltip md-direction="bottom">RSS Atom Feed</md-tooltip>
      <md-icon class="icon">rss_feed</md-icon>
    </md-button>
    <md-button ng-if='!$isLogin' ng-click="showLoginModal()" class="md-icon-button">
      <md-tooltip md-direction="bottom">Sign In</md-tooltip>
      <md-icon class="icon">exit_to_app</md-icon>
    </md-button>
    <md-button ng-if='$isLogin' ng-click="$signOut()" class="md-icon-button">
      <md-tooltip md-direction="bottom">Sign Out</md-tooltip>
      <md-icon class="icon">backspace</md-icon>
    </md-button>
  </div>
</md-toolbar>
