<div id="loading-bar-container"></div>
<div ng-include="'/static/templates/index/_toolbar.html'"></div>
<section layout="row" flex>
  <div ng-include="'/static/templates/index/_sidenav.html'" style="margin-top: 1px;"></div>
    <md-content class="nano-content" flex layout-no-padding ui-view>
      <div layout="row" layout-fill layout-xs="column" ng-cloak ng-controller="HomeController">
        <div flex="70" layout-no-padding>
          <div nano-container class="nano">
            <md-content class="nano-content" flex style="padding-top:0;">
              <p ng-if="author.about" marked="author.about" style="padding:8px; margin:0;"></p>
              <md-subheader class="md-primary" style="font-size: 15px">LAST POSTS
                <md-button ui-sref="index.posts" class="md-icon-button md-secondary" style="float:right; margin: -10px -1px;">
                  <md-tooltip direction="bottom">More posts</md-tooltip>
                  <md-icon class="icon fa fa-folder-open-o"></md-icon>
                </md-button>
              </md-subheader>
              <md-card ng-repeat="post in posts._items">
                <md-card-header style="box-shadow: 0 0 1px 0px #dadada;">
                  <md-card-avatar>
                    <md-icon ng-if="!post.isDraft" class="icon">message</md-icon>
                    <md-icon ng-if="post.isDraft" class="icon">bookmark</md-icon>
                  </md-card-avatar>
                  <md-card-header-text>
                    <span class="md-title" style="font-size: 16px;" ng-bind="post.title"></span>
                    <span class="md-subhead" ng-if="post.tags.length"><span ng-repeat="tag in post.tags" ng-bind="tag.name + ' '"></span></span>
                    <span class="md-subhead" ng-if="!post.tags.length">no tags</span>
                  </md-card-header-text>
                  <md-button class="md-icon-button" aria-label="Share">
                    <md-tooltip direction="bottom">Comments: {{post.comments.length}}</md-tooltip>
                    <md-icon class="icon">comment</md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Share">
                    <md-tooltip direction="bottom">Created at {{post.created * 1000 | date:'dd.MM.yyyy HH.mm':'+0300'}}</md-tooltip>
                    <md-icon class="icon">updated</md-icon>
                  </md-button>
                  <md-button class="md-icon-button" style="margin:0;"
                    aria-label="toggle" ui-sref="index.posts.post({id:post.id})">
                    <md-tooltip derection="bottom">Read more</md-tooltip>
                    <md-icon class="icon">open_in_new</md-icon>
                  </md-button>
                </md-card-header>
              </md-card>
              <md-subheader class="md-primary" style="font-size: 15px">SKILLS</md-subheader>
              <md-content style="padding: 8px; overflow: hidden;">
                <div animate-skill class="skillbar clearfix" ng-repeat="skill in skills"
                  data-percent="{{ skill.progress }}%">
                	<div class="skillbar-title" style="background: rgb(91,192,222);">
                    <span ng-bind="skill.name | uppercase"></span>
                  </div>
                	<div class="skillbar-bar" style="background: rgb(175, 226, 239);"></div>
                	<div class="skill-bar-percent">{{ skill.progress }}%</div>
                </div>
              </md-content>
            </md-content>
          </div>
        </div>
        <div flex="30">
          <div nano-container class="nano nano-pane">
            <md-content class="nano-content" layout-no-padding
              style="background: #fafafa; box-shadow: inset 0 0 12px -6px #a7a7a7; border-left: 1px #dadada solid;">
              <md-subheader class="md-primary" style="font-size: 15px">CONTACTS</md-subheader>
              <md-list-item ng-repeat="contact in contacts">
                <md-icon class="icon fa fa-{{contact.icon}}"></md-icon>
                <p ng-bind="contact.body"></p>
                 <md-button class="md-icon-button md-secondary" clipboard
                   text="contact.body"
                   on-copied="copied()">
                   <md-icon class="icon">content_copy</md-icon>
                   <md-tooltip direction="bottom">Copy</md-tooltip>
                 </md-button>
              </md-list-item>
              <md-subheader class="md-primary" style="font-size: 15px">SOCIAL</md-subheader>
              <md-content layout-align="center" style="margin-bottom:20px; text-align:center">
                <md-button class="md-icon-button" aria-label="social" href="https://www.linkedin.com/in/malltshik/" target="_blank">
                  <md-icon class="fa fa-linkedin icon"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="social" href="https://twitter.com/malltshik" target="_blank">
                  <md-icon class="fa fa-twitter icon"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="social" href="https://github.com/malltshik" target="_blank">
                  <md-icon class="fa fa-github icon"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="social" href="https://bitbucket.org/gavrilov-a" target="_blank">
                  <md-icon class="fa fa-bitbucket icon"></md-icon>
                </md-button>
              </md-content>
            </md-content>
          </div>
        </div>
      </div>
    </md-content>
  </md-content>
</section>
